<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card border-info"> 
                <div class="card-header bg-dark text-white">
                    <h4>{{ data.ticker }} Information</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Get Info</p>
                            <input [(ngModel)]="ticker" placeholder="Which Stock Ticker?" required/>
                            <input [(ngModel)]="days" type="number" min="1" max="30" placeholder="How many days of data to fetch?"/>
                            <button (click)='getDataFromTicker()'>Get Data</button>
                        </div>
                        <div class="col-sm-6">
                            <h5>Current Price: {{ current_price | currency }}</h5>
                            <hr>
                            <h5>Trade Advice: {{ advice }}</h5>
                        </div>
                    </div>
                </div>
                <div class="card-header bg-dark text-white">
                    <h4>Historical Stock Prices</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data.prices">
                                        <td>{{ item.date }}</td>
                                        <td>{{ item.price | currency }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <div class="chart-wrapper">
                                <canvas baseChart 
                                    [datasets]="lineChartData" 
                                    [labels]="lineChartLabels" 
                                    [options]="lineChartOptions"
                                    [colors]="lineChartColors" 
                                    [legend]="lineChartLegend" 
                                    [chartType]="lineChartType" 
                                    [plugins]="lineChartPlugins">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
