<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card border-info"> 
                <div class="card-header bg-dark text-white">
                    <h4>Current Portfolio - {{ current_portfolio.date | date}}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <h5>Cash: {{ current_portfolio.cash | currency}}</h5>
                    </div>
                    <hr>
                    <div class="row">
                        <h5>Stocks</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Ticker</th>
                                    <th>Quantity</th>
                                    <th>Current Price</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of current_portfolio.stocks">
                                    <td>{{ item.ticker }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.price | currency }}</td>
                                    <td>{{ item.quantity * item.price | currency }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="row">
                        <h5>Portfolio Value: {{ current_portfolio.total_value | currency }}</h5>
                    </div>
                </div>
            <div class="card-header bg-dark text-white">
                <h4>Update Cash</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <input [(ngModel)]="add_amount" placeholder="Amount to add">
                        <button (click)="addCash()">Add Cash</button> <br>
                        <label style="color: red;" *ngIf="!valid_add">Please insert a number</label>
                    </div>
                    <div class="col-sm-6">
                        <input [(ngModel)]="remove_amount" placeholder="Amount to remove">
                        <button (click)="removeCash()">Remove Cash</button> <br>
                        <label style="color: red;" *ngIf="!valid_remove">Please insert a number</label>
                    </div>
            </div>
            </div>
            <div class="card-header bg-dark text-white">
                <h4>Historical Value</h4>
            </div>
            <div class="card-body">
                <div class="chart-wrapper">
                    <canvas baseChart 
                        [datasets]="lineChartData" 
                        [labels]="lineChartLabels" 
                        [options]="lineChartOptions"
                        [colors]="lineChartColors" 
                        [legend]="lineChartLegend" 
                        [chartType]="lineChartType" 
                        [plugins]="lineChartPlugins">
                    </canvas>
                </div>
            </div>
        </div>
    </div>


