/* You can add global styles to this file, and also import other style files */
.columns:nth-child(2)
{margin-top: -10rem;}
  
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: light-grey;
   color: black;
   text-align: center;
}
