

      <section class="section">
        <div class="container">
            
            <div class="columns">
              <div class="column">
    
            <!--MAKE TRADE-->
            <h3>Make a Trade</h3>
            <input [(ngModel)]="tickercode" placeholder="Which Stock Ticker?" required/>&nbsp;
            <input [(ngModel)]="num" type="number" min="1" max="50" placeholder="How many?"/>&nbsp;
            <button (click)="createBuy()" class="button1">Buy</button>&nbsp;
            <button (click)="createSell()" class="button2">Sell</button>
            <label [hidden]="trade_message">{{ trade_message }}</label>
            <!--MAKE TRADE-->
            <br/><br/>


                <!--TRADING HISTORY-->
                <h3>Trading History</h3>
                
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ticker</th>
                                <th>Date</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total Price</th>
                                <th>State</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data">
                                <td>{{ item['ticker'] }}</td>
                                <td>{{ item['date'] | date:'dd/MM/yyyy'}}</td>
                                <td>{{ item['quantity'] }}</td>
                                <td>{{ item['price'] | currency:'USD' }}</td>
                                <td>{{ item['price'] * item['quantity'] | currency:'USD' }}</td>
                                <td>{{ item['state'] }}</td>
                                <td>{{ item['action'] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>



              </div>
            </div>
              
    
         </div>
         </section>








