.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    transition-duration: 0.4s;
  }

  .button1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  .button2 {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    transition-duration: 0.4s;
  }

  .button2:hover {
    background-color:red;
    color: white;
  }