
<body>
   
<!-- ticker widget plug -->
<iframe width="2000" noresize="noresize" scrolling="yes" height="20" frameborder="0" src="https://widgets.tc2000.com/WidgetServer.ashx?id=201974"></iframe>
<!-- ticker widget plug -->

<section class="hero is-info is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        CASS TRADING

    </div>
  </div>
</section>

<div class="box cta">
          <div class="container has-text-centered">
          <a [routerLink]="[ '/trade' ]" class="button is-link modal-button"> MAKE TRADE</a> &nbsp;&nbsp;   
          <a [routerLink]="[ '/portfolio' ]" class="button is-link modal-button">PORTFOLIO</a> &nbsp;&nbsp;
          <a [routerLink]="[ '/information' ]" class="button is-link modal-button">ADVICE</a>
          </div>

</div>
      <!-- we need somehwere for our routed components to appear-->
      <router-outlet></router-outlet>

  
</body>


<br/><br/><br/>

<!-- <h1>{{ title }}</h1>-->
<!--<app-information></app-information>-->
<!--<app-trade></app-trade>-->
